a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1e3c88f5{ color:#000080; text-decoration: none} 
		a.wsp1e3c88f5:visited{ color:#000090; text-decoration: underline} 
		a.wsp1e3c88f5:active{ color:#000080; text-decoration: underline} 
		a.wsp1e3c88f5:hover{ color:#000040; text-decoration: underline} 
#table_35713d11 th {  } 
#table_35713d11 td {  } 
#menu_b1ead0e a { text-decoration: none; }
#menu_b1ead0e_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 20px; padding-bottom: 20px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_b1ead0e_hr { background-color: #646464; height: 1px; border: none; }
#menu_b1ead0e_entry { padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; }
#menu_b1ead0e_entry:hover { background-color: #808080; color: #FFFFFF !important; }
#menu_b1ead0e_entry:hover span { color:#FFFFFF !important; }
		.menu_b1ead0e_mainMenuEntry { text-align: center; }
		.menu_b1ead0e_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_b1ead0e_mainMenuEntry:hover span {	color:#C0C0C0 !important; }
		#menu_b1ead0e .mobileEntry { display: none; } 
		#menu_b1ead0e .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_b1ead0e .mobileEntry { display: block; } 
			#menu_b1ead0e .normalEntry { display: none; } 
		}
#button_67c9c757 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:left; margin:5px; width:80px; height:30px; background-color:#676767; background: linear-gradient(to bottom, #676767, #676767); border: 1px solid #E8E8E9;  }
#button_67c9c757:hover { background-color:#D6D5D7; background: linear-gradient(to bottom, #D6D5D7, #D6D5D7); border-color:#D6D5D7;  }
#button_67c9c757:hover span { color:#000000; }
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_4861029c { vertical-align: bottom; position:relative; display: inline-block; margin:5px; width:60px; background:none; height:auto;  }
#container_56c293c2 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_77bb760a { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_1f573b75 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background-color:#808080;  }
#img_713aaca6 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_490f5bbd { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#menu_b1ead0e { border-radius: 2px; position:absolute; left:10%; top:0%; width:77%; height:50px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:114px; height:50px; left:20px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle2 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:104px; height:50px; left:20px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle3 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle3 { position:absolute; width:132px; height:50px; left:124px;  }
.menustyle4 { position:absolute; width:113px; height:50px; left:256px;  }
.textstyle4 { font-size:16pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle5 { position:absolute; width:134px; height:50px; left:369px;  }
.menustyle6 { position:absolute; width:174px; height:50px; left:503px;  }
.menustyle7 { position:absolute; width:50px; height:50px; left:677px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle8 { position:absolute; width:50px; height:50px; left:727px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000080;  white-space: nowrap; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000040;  white-space: nowrap; }
#placeh_63851a2 { vertical-align: top; position:relative; display: inline-block; width:100%;  }
#container_2cfae6c1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:91px; background-color:#2E2FD7; background: linear-gradient(to bottom, rgba(255, 255, 255, 0.196078), rgba(46, 47, 215, 0.196078));  }
#img_39c561f7 { vertical-align: top; position:relative; display: inline-block; float:left; margin:10px; width:17%; background:none; height:auto;  }
#img_7fa4a591 { vertical-align: bottom; position:relative; display: inline-block; float:right; width:13%; background:none; height:auto;  }
.textstyle7 { text-align:center; }
.textstyle8 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#60BCDF;  }
#container_1b724e5d { vertical-align: top; position:relative; display: inline-block; width:100%; background-color:#FFFFFF;  }
#container_1b724e5d_padding { margin: 10px; display: block;  }
#table_35713d11 { vertical-align: top; position:relative; display: inline-table; float:right; width:38%; height:79px; background:none; table-layout: fixed;  }
#cell_53df3ea9 {  }
.textstyle9 { font-size:10pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080;  }
.textstyle10 { font-size:10pt; font-family:'Arial Black', Gadget, sans-serif; color:#999999;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#999999; font-style:italic;  }
#cell_240af71f {  }
#img_1f24343e { vertical-align: top; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
#container_5ed9721c { vertical-align: top; position:relative; display: inline-block; float:left; margin:0px 0px 0px 80px;width:42%; min-height:92px; min-width:250px; background:none;  }
#container_5ed9721c_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#007DA0; font-weight:bold;  }
.textstyle13 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#007DA0;  }
.textstyle14 { font-size:18pt; font-family:'Comic Sans MS', cursive; color:#007DA0; font-style:italic;  }
.textstyle15 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#808080;  }
#container_2c81c98c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1250px; background:none;  }
#container_2c81c98c_padding { margin: 0px 50px 50px 0px;display: block;  }
#container_64e438d { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; min-width:200px; background:none;  }
#container_64e438d_padding { margin: 10px; display: block;  }
#container_668b5479 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.14902); border: 1px solid #808080;  }
#container_668b5479_padding { margin: 10px; display: block;  }
#container_3b6b0cf3 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_3b6b0cf3_padding { margin: 10px; display: block;  }
#img_7d92a935 { vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; height:auto;  }
#container_67d764eb { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_67d764eb_padding { margin: 8px 0px 0px 20px;display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#606060;  }
#container_7c0fdd67 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; min-width:200px; background:none;  }
#container_7c0fdd67_padding { margin: 10px; display: block;  }
#container_feecaaf { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.14902); border: 1px solid #808080;  }
#container_feecaaf_padding { margin: 10px; display: block;  }
#container_10c46f4d { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_10c46f4d_padding { margin: 10px; display: block;  }
#img_6059f1d7 { vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; height:auto;  }
#container_59a2fdea { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_59a2fdea_padding { margin: 8px 0px 0px 20px;display: block;  }
#container_4fd81460 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1250px; background:none;  }
#container_4fd81460_padding { margin: 0px 50px 50px 0px;display: block;  }
#container_76e71b76 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; min-width:200px; background:none;  }
#container_76e71b76_padding { margin: 10px; display: block;  }
#container_749f9900 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.298039); border: 1px solid #808080;  }
#container_749f9900_padding { margin: 10px; display: block;  }
#container_2918b13b { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_2918b13b_padding { margin: 10px; display: block;  }
#img_7beacbe2 { vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; height:auto;  }
#container_6dadb255 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_6dadb255_padding { margin: 8px 0px 0px 20px;display: block;  }
#container_455cff49 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; min-width:200px; background:none;  }
#container_455cff49_padding { margin: 10px; display: block;  }
#container_21af3ca6 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.196078); border: 1px solid #808080;  }
#container_21af3ca6_padding { margin: 10px; display: block;  }
#container_429cf16c { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_429cf16c_padding { margin: 10px; display: block;  }
#img_538b73a2 { vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; height:auto;  }
#container_2402204a { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_2402204a_padding { margin: 8px 0px 0px 20px;display: block;  }
#container_65e838e3 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; max-width:1350px; background-color:#60BCDF; background: linear-gradient(to bottom, rgba(96, 188, 223, 0.047059), rgba(96, 188, 223, 0.047059)); border: 0px solid #545454;  }
.textstyle17 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#0000E9; font-style:italic;  }
.textstyle18 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#808080;  }
.textstyle19 { font-size:18pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080;  }
#container_2c883217 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_2c883217_padding { margin: 40px 50px 50px 80px;display: block;  }
#container_60d5b1dd { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:150px; min-width:200px; background:none;  }
#container_60d5b1dd_padding { margin: 10px; display: block;  }
#container_131d2f0c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:200px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.098039); border: 1px solid #C0C0C0;  }
#container_131d2f0c_padding { margin: 10px; display: block;  }
#container_3af1554c { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_3af1554c_padding { margin: 10px; display: block;  }
#img_f67eae8 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; border: 1px solid #C0C0C0; height:auto;  }
#container_1ba24ea8 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_1ba24ea8_padding { margin: 8px 0px 0px 20px;display: block;  }
.textstyle20 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#606060;  }
#container_efb9d1 { vertical-align: top; position:relative; display: inline-block; width:40%; min-height:150px; min-width:200px; background:none;  }
#container_efb9d1_padding { margin: 10px; display: block;  }
#container_5506265b { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:200px; min-width:200px; max-width:500px; background-color:rgba(192, 192, 192, 0.098039); border: 1px solid #C0C0C0;  }
#container_5506265b_padding { margin: 10px; display: block;  }
#container_55ef6aa9 { vertical-align: top; position:relative; display: inline-block; width:35%; min-height:100px; min-width:150px; background:none;  }
#container_55ef6aa9_padding { margin: 10px; display: block;  }
#img_1e15706b { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:104%; min-width:150px; background:none; border: 1px solid #C0C0C0; height:auto;  }
#container_1ee5305d { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:150px; min-width:150px; background:none;  }
#container_1ee5305d_padding { margin: 8px 0px 0px 20px;display: block;  }
#container_6337bb21 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:19%; min-height:200px; min-width:200px; max-width:250px; background-color:rgba(128, 128, 128, 0.039216); border: 1px solid #C0C0C0;  }
#container_6337bb21_padding { margin: 10px; display: block;  }
#container_91be31e { vertical-align: top; position:relative; display: inline-block; width:100%; min-width:150px; background:none;  }
#container_91be31e_padding { margin: 8px 0px 0px 20px;display: block;  }
.textstyle21 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#000080;  }
#img_1b55d845 { position:absolute; left:6%; top:58%; width:88%; background:none; height:auto;  }
#container_716c74c8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_716c74c8_padding { margin: 10px; display: block;  }
#container_538c920c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:180px; background-color:#173665; background: linear-gradient(to bottom, #173665, #173665);  }
#container_64838530 { vertical-align: top; position:relative; display: inline-block; float:left; margin:0px 0px 20px 0px;width:42%; min-height:180px; min-width:100px; max-width:350px; background:none;  }
#img_7a07f909 { box-sizing: border-box; border-radius: 4px; position:absolute; left:5%; top:4%; width:35%; height:29%; background:none; border: 0px solid #404040;  }
#img_3be04fce { position:absolute; left:50%; top:4%; width:35%; height:33%; background:none;  }
#img_76c3b8c7 { box-sizing: border-box; position:absolute; left:56%; top:36%; width:30%; height:29%; background:none; border: 0px solid #C0C0C0;  }
#img_7f26624f { box-sizing: border-box; position:absolute; left:5%; top:40%; width:33%; height:24%; background:none; border: 0px solid #C0C0C0;  }
#img_61dc0909 { box-sizing: border-box; position:absolute; left:57%; top:68%; width:28%; height:24%; background:none; border: 0px solid #404040;  }
#img_514ed77f { box-sizing: border-box; border-radius: 6px; position:absolute; left:6%; top:67%; width:31%; height:27%; background:none; border: 0px solid #C0C0C0;  }
.textstyle22 { text-align:right; }
#container_13c25dea { vertical-align: top; position:relative; display: inline-block; float:right; width:10%; min-height:180px; min-width:150px; max-width:400px; background:none;  }
#img_4b4fcc49 { vertical-align: top; position:relative; display: inline-block; float:left; width:90%; height:110px; background:none;  }
.textstyle23 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_3ae0a30b { position:absolute; left:10%; top:68%; width:75%; background:none; height:auto;  }
#container_5030d534 { position:absolute; left:36%; top:65%; width:61%; min-height:40px; min-width:150px; max-width:700px; background:none;  }
.textstyle24 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#E0E0E0;  }
#img_79c10b47 { position:absolute; left:0%; top:12%; width:12%; height:80%; background:none;  }
#img_3187a14e { position:absolute; left:73%; top:12%; width:12%; height:80%; background:none;  }
#img_6b0fb4d1 { position:absolute; left:19%; top:12%; width:12%; height:80%; background:none;  }
#img_3d12a58f { box-sizing: border-box; position:absolute; left:37%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_383dd26b { box-sizing: border-box; position:absolute; left:54%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_342dd106 { position:absolute; left:89%; top:12%; width:12%; height:80%; background:none;  }
#container_3c9c6d1b { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_50b7dce0 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_14a6db9 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_48995cbb { vertical-align: top; position:relative; display: inline-block; float:right; margin:6px 5px 5px 5px;width:26px; height:26px; background:none;  }
#img_399149d7 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:31px; height:31px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle25 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#html_19407950 { box-sizing: border-box; position:absolute; left:41%; top:29%; width:5%; height:27px; background:none; border: 0px solid #A0A0A0;  }
@media only screen and (max-width: 1240px)
{
		#img_3ae0a30b { display:none;  }
}
@media only screen and (max-width: 1000px)
{
		#container_56c293c2 { display:none;  }
}
@media only screen and (max-width: 840px)
{
		#container_5030d534 { display:none;  }
}
@media only screen and (max-width: 450px)
{
		#menu_b1ead0e { width:100px;  }
}
@media only screen and (max-width: 300px)
{
		#container_5ed9721c { width:100%;  }
		#container_64e438d { width:100%;  }
		#container_3b6b0cf3 { width:100%;  }
		#container_67d764eb { width:100%;  }
		#container_7c0fdd67 { width:100%;  }
		#container_10c46f4d { width:100%;  }
		#container_59a2fdea { width:100%;  }
		#container_76e71b76 { width:100%;  }
		#container_2918b13b { width:100%;  }
		#container_6dadb255 { width:100%;  }
		#container_455cff49 { width:100%;  }
		#container_429cf16c { width:100%;  }
		#container_2402204a { width:100%;  }
		#container_60d5b1dd { width:100%;  }
		#container_3af1554c { width:100%;  }
		#container_1ba24ea8 { width:100%;  }
		#container_efb9d1 { width:100%;  }
		#container_55ef6aa9 { width:100%;  }
		#container_1ee5305d { width:100%;  }
		#container_91be31e { width:100%;  }
}
