a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1e3c88f5{ color:#000080; text-decoration: none} 
		a.wsp1e3c88f5:visited{ color:#000090; text-decoration: underline} 
		a.wsp1e3c88f5:active{ color:#000080; text-decoration: underline} 
		a.wsp1e3c88f5:hover{ color:#000040; text-decoration: underline} 
#button_61deb537 { box-sizing: border-box; position:absolute; left:88%; top:18%; width:60px; height:71px; background-color:#FFFFFF; background-image: url(rc_images/wappscuro.png); background-position:top left; background-size:cover; border: 2px solid #A6A6A6;  }
#button_61deb537:hover { border-color:#000000;  }
#button_61deb537:hover span { color:#808080; }
#button_37c3b297 { box-sizing: border-box; position:absolute; left:4%; top:18%; width:73px; height:71px; background-color:#FFFFFF; background-image: url(rc_images/easytimedef1.png); background-position:top left; background-size:cover; border: 2px solid #A6A6A6;  }
#button_37c3b297:hover { border-color:#000000;  }
#button_37c3b297:hover span { color:#808080; }
#menu_b1ead0e a { text-decoration: none; }
#menu_b1ead0e_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 20px; padding-bottom: 20px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_b1ead0e_hr { background-color: #646464; height: 1px; border: none; }
#menu_b1ead0e_entry { padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; }
#menu_b1ead0e_entry:hover { background-color: #808080; color: #FFFFFF !important; }
#menu_b1ead0e_entry:hover span { color:#FFFFFF !important; }
		.menu_b1ead0e_mainMenuEntry { text-align: center; }
		.menu_b1ead0e_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_b1ead0e_mainMenuEntry:hover span {	color:#C0C0C0 !important; }
		#menu_b1ead0e .mobileEntry { display: none; } 
		#menu_b1ead0e .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_b1ead0e .mobileEntry { display: block; } 
			#menu_b1ead0e .normalEntry { display: none; } 
		}
#button_67c9c757 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:left; margin:5px; width:80px; height:30px; background-color:#676767; background: linear-gradient(to bottom, #676767, #676767); border: 1px solid #E8E8E9;  }
#button_67c9c757:hover { background-color:#D6D5D7; background: linear-gradient(to bottom, #D6D5D7, #D6D5D7); border-color:#D6D5D7;  }
#button_67c9c757:hover span { color:#000000; }
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_4861029c { vertical-align: bottom; position:relative; display: inline-block; margin:5px; width:60px; background:none; height:auto;  }
#container_56c293c2 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_77bb760a { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_1f573b75 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background-color:#808080;  }
#img_713aaca6 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_490f5bbd { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#menu_b1ead0e { border-radius: 2px; position:absolute; left:10%; top:0%; width:77%; height:50px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:114px; height:50px; left:20px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle2 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:104px; height:50px; left:20px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle3 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle3 { position:absolute; width:132px; height:50px; left:124px;  }
.menustyle4 { position:absolute; width:113px; height:50px; left:256px;  }
.textstyle4 { font-size:16pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle5 { position:absolute; width:134px; height:50px; left:369px;  }
.menustyle6 { position:absolute; width:174px; height:50px; left:503px;  }
.menustyle7 { position:absolute; width:50px; height:50px; left:677px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle8 { position:absolute; width:50px; height:50px; left:727px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000080;  white-space: nowrap; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000040;  white-space: nowrap; }
#placeh_63851a2 { vertical-align: top; position:relative; display: inline-block; width:100%;  }
#container_1b33cd38 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:350px; background-color:#FFFFFF; background-image: url(rc_images/mago4_gestionale_area_magazzino_logistica.png); background-position:bottom center; background-size:cover;  }
#container_1b33cd38_padding { margin: 10px; display: block;  }
#img_662903ef { vertical-align: bottom; position:relative; display: inline-block; float:left; margin:0px 30px 0px 0px;width:10%; background:none; height:auto;  }
#img_3000a6c1 { position:absolute; left:21px; top:229px; width:10%; background:none; height:auto;  }
#container_27c408b0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_27c408b0_padding { margin: 10px; display: block;  }
.textstyle7 { text-align:center; }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:36pt; font-family:Arial, Helvetica, sans-serif; color:#808080; font-weight:bold;  }
#img_bab5926 { vertical-align: bottom; position:relative; display: inline-block; float:right; margin:10px; width:20%; background:none; height:auto;  }
#container_606483cd { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_606483cd_padding { margin: 10px; display: block;  }
#container_699a927f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none; border-top: 1px solid #C0C0C0; border-left: none; border-right: none; border-bottom: none;  }
#container_699a927f_padding { margin: 10px; display: block;  }
#container_e3d9110 { vertical-align: top; position:relative; display: inline-block; float:left; width:11%; min-height:100px; min-width:100px; max-width:100px; background-color:#FFFFFF; background-image: url(rc_images/mago4_modulo_magazzino.png); background-position:center center; background-repeat:no-repeat;  }
#container_e3d9110_padding { margin: 10px; display: block;  }
#container_6df06488 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:250px; min-width:250px; background:none;  }
#container_6df06488_padding { margin: 20px; display: block;  }
.textstyle10 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_285a4755 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_285a4755_padding { margin: 10px; display: block;  }
#container_2e433040 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none; border-top: 1px solid #C0C0C0; border-left: none; border-right: none; border-bottom: none;  }
#container_2e433040_padding { margin: 10px; display: block;  }
#container_10095ddb { vertical-align: top; position:relative; display: inline-block; float:left; width:11%; min-height:100px; min-width:100px; max-width:100px; background-color:#FFFFFF; background-image: url(rc_images/mago4_modulo_lotti_matricole.png); background-position:center center; background-repeat:no-repeat;  }
#container_10095ddb_padding { margin: 10px; display: block;  }
#container_572fe28 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:250px; min-width:250px; background:none;  }
#container_572fe28_padding { margin: 20px; display: block;  }
#container_49dd20fd { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_49dd20fd_padding { margin: 10px; display: block;  }
#container_6178ce15 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none; border-top: 1px solid #C0C0C0; border-left: none; border-right: none; border-bottom: none;  }
#container_6178ce15_padding { margin: 10px; display: block;  }
#container_76cb1cbe { vertical-align: top; position:relative; display: inline-block; float:left; width:11%; min-height:100px; min-width:100px; max-width:100px; background-color:#FFFFFF; background-image: url(rc_images/mago4_modulo_wms_base.png); background-position:center center; background-repeat:no-repeat;  }
#container_76cb1cbe_padding { margin: 10px; display: block;  }
#container_1d6d1208 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:250px; min-width:250px; background:none;  }
#container_1d6d1208_padding { margin: 20px; display: block;  }
#container_3805e043 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_3805e043_padding { margin: 10px; display: block;  }
#container_646c4de { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none; border-top: 1px solid #C0C0C0; border-left: none; border-right: none; border-bottom: none;  }
#container_646c4de_padding { margin: 10px; display: block;  }
#container_28fc3c0b { vertical-align: top; position:relative; display: inline-block; float:left; width:11%; min-height:100px; min-width:100px; max-width:100px; background-color:#FFFFFF; background-image: url(rc_images/mago4_modulo_wms_mobile.png); background-position:center center; background-repeat:no-repeat;  }
#container_28fc3c0b_padding { margin: 10px; display: block;  }
#container_681bb3bb { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:250px; min-width:250px; background:none;  }
#container_681bb3bb_padding { margin: 20px; display: block;  }
#container_1fdee3f6 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_1fdee3f6_padding { margin: 10px; display: block;  }
#container_71499873 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none; border-top: 1px solid #C0C0C0; border-left: none; border-right: none; border-bottom: none;  }
#container_71499873_padding { margin: 10px; display: block;  }
#container_66c51cda { vertical-align: top; position:relative; display: inline-block; float:left; width:11%; min-height:100px; min-width:100px; max-width:100px; background-color:#FFFFFF; background-image: url(rc_images/mago4_modulo_barcode_manager.png); background-position:center center; background-repeat:no-repeat;  }
#container_66c51cda_padding { margin: 10px; display: block;  }
#container_38fb56f7 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:250px; min-width:250px; background:none;  }
#container_38fb56f7_padding { margin: 20px; display: block;  }
#container_7f1b1c3e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:120px; background:none; border: 1px solid #C0C0C0;  }
#container_7f1b1c3e_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_4f807c25 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:80px; background:none;  }
#container_4f807c25_padding { margin: 10px; display: block;  }
#container_538c920c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:180px; background-color:#173665; background: linear-gradient(to bottom, #173665, #173665);  }
#container_64838530 { vertical-align: top; position:relative; display: inline-block; float:left; margin:0px 0px 20px 0px;width:42%; min-height:180px; min-width:100px; max-width:350px; background:none;  }
#img_7a07f909 { box-sizing: border-box; border-radius: 4px; position:absolute; left:5%; top:4%; width:35%; height:29%; background:none; border: 0px solid #404040;  }
#img_3be04fce { position:absolute; left:50%; top:4%; width:35%; height:33%; background:none;  }
#img_76c3b8c7 { box-sizing: border-box; position:absolute; left:56%; top:36%; width:30%; height:29%; background:none; border: 0px solid #C0C0C0;  }
#img_7f26624f { box-sizing: border-box; position:absolute; left:5%; top:40%; width:33%; height:24%; background:none; border: 0px solid #C0C0C0;  }
#img_61dc0909 { box-sizing: border-box; position:absolute; left:57%; top:68%; width:28%; height:24%; background:none; border: 0px solid #404040;  }
#img_514ed77f { box-sizing: border-box; border-radius: 6px; position:absolute; left:6%; top:67%; width:31%; height:27%; background:none; border: 0px solid #C0C0C0;  }
.textstyle13 { text-align:right; }
#container_13c25dea { vertical-align: top; position:relative; display: inline-block; float:right; width:10%; min-height:180px; min-width:150px; max-width:400px; background:none;  }
#img_4b4fcc49 { vertical-align: top; position:relative; display: inline-block; float:left; width:90%; height:110px; background:none;  }
.textstyle14 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_3ae0a30b { position:absolute; left:10%; top:68%; width:75%; background:none; height:auto;  }
#container_5030d534 { position:absolute; left:36%; top:65%; width:61%; min-height:40px; min-width:150px; max-width:700px; background:none;  }
.textstyle15 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#E0E0E0;  }
#img_79c10b47 { position:absolute; left:0%; top:12%; width:12%; height:80%; background:none;  }
#img_3187a14e { position:absolute; left:73%; top:12%; width:12%; height:80%; background:none;  }
#img_6b0fb4d1 { position:absolute; left:19%; top:12%; width:12%; height:80%; background:none;  }
#img_3d12a58f { box-sizing: border-box; position:absolute; left:37%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_383dd26b { box-sizing: border-box; position:absolute; left:54%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_342dd106 { position:absolute; left:89%; top:12%; width:12%; height:80%; background:none;  }
#container_3c9c6d1b { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_50b7dce0 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_14a6db9 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_48995cbb { vertical-align: top; position:relative; display: inline-block; float:right; margin:6px 5px 5px 5px;width:26px; height:26px; background:none;  }
#img_399149d7 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:31px; height:31px; background:none;  }
.textstyle16 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#html_19407950 { box-sizing: border-box; position:absolute; left:41%; top:29%; width:5%; height:27px; background:none; border: 0px solid #A0A0A0;  }
@media only screen and (max-width: 1240px)
{
		#img_3ae0a30b { display:none;  }
}
@media only screen and (max-width: 1000px)
{
		#container_56c293c2 { display:none;  }
}
@media only screen and (max-width: 840px)
{
		#container_5030d534 { display:none;  }
}
@media only screen and (max-width: 450px)
{
		#menu_b1ead0e { width:100px;  }
}
@media only screen and (max-width: 300px)
{
		#container_e3d9110 { width:100%;  }
		#container_6df06488 { width:100%;  }
		#container_10095ddb { width:100%;  }
		#container_572fe28 { width:100%;  }
		#container_76cb1cbe { width:100%;  }
		#container_1d6d1208 { width:100%;  }
		#container_28fc3c0b { width:100%;  }
		#container_681bb3bb { width:100%;  }
		#container_66c51cda { width:100%;  }
		#container_38fb56f7 { width:100%;  }
}
