a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp1e3c88f5{ color:#000080; text-decoration: none} 
		a.wsp1e3c88f5:visited{ color:#000090; text-decoration: underline} 
		a.wsp1e3c88f5:active{ color:#000080; text-decoration: underline} 
		a.wsp1e3c88f5:hover{ color:#000040; text-decoration: underline} 
#button_2f40842 { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_2f40842:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_2f40842:hover span { color:#0000A0; }
#button_36005d0b { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_36005d0b:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_36005d0b:hover span { color:#0000A0; }
#button_355a973f { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_355a973f:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_355a973f:hover span { color:#0000A0; }
#button_6add6a3b { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_6add6a3b:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_6add6a3b:hover span { color:#0000A0; }
#button_438c5622 { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_438c5622:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_438c5622:hover span { color:#0000A0; }
#button_1d033ec1 { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_1d033ec1:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_1d033ec1:hover span { color:#0000A0; }
#button_384e62fd { vertical-align: bottom; position:relative; display: inline-block; margin:200px 0px 0px 0px;width:100%; height:50px; background-color:rgba(80, 79, 80, 0.8);  }
#button_384e62fd:hover { background-color:rgba(212, 212, 212, 0.8);  }
#button_384e62fd:hover span { color:#0000A0; }
#button_4dbf7a22 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:100%; height:50px; background-color:#E6D0D0; border: 1px solid #C0C0C0;  }
#button_4dbf7a22:hover { background-color:#000080; border-color:#00006E;  }
#button_4dbf7a22:hover span { color:#FF8040; }
#button_1a9070d7 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:100%; height:50px; background-color:#E6D0D0; border: 1px solid #C0C0C0;  }
#button_1a9070d7:hover { background-color:#000080; border-color:#00006E;  }
#button_1a9070d7:hover span { color:#FF8040; }
#button_1abdc8d1 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:4px 0px 0px 0px;width:100%; height:50px; background-color:#E6D0D0; border: 1px solid #C0C0C0;  }
#button_1abdc8d1:hover { background-color:#000080; border-color:#00006E;  }
#button_1abdc8d1:hover span { color:#FF8040; }
#menu_b1ead0e a { text-decoration: none; }
#menu_b1ead0e_pane { background-color: #FFFFFF; border: 1px solid #646464; padding-top: 20px; padding-bottom: 20px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_b1ead0e_hr { background-color: #646464; height: 1px; border: none; }
#menu_b1ead0e_entry { padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; }
#menu_b1ead0e_entry:hover { background-color: #808080; color: #FFFFFF !important; }
#menu_b1ead0e_entry:hover span { color:#FFFFFF !important; }
		.menu_b1ead0e_mainMenuEntry { text-align: center; }
		.menu_b1ead0e_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_b1ead0e_mainMenuEntry:hover span {	color:#C0C0C0 !important; }
		#menu_b1ead0e .mobileEntry { display: none; } 
		#menu_b1ead0e .normalEntry { display: block; } 
		@media only screen and (max-width:900px) { 
			#menu_b1ead0e .mobileEntry { display: block; } 
			#menu_b1ead0e .normalEntry { display: none; } 
		}
#button_67c9c757 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; float:left; margin:5px; width:80px; height:30px; background-color:#676767; background: linear-gradient(to bottom, #676767, #676767); border: 1px solid #E8E8E9;  }
#button_67c9c757:hover { background-color:#D6D5D7; background: linear-gradient(to bottom, #D6D5D7, #D6D5D7); border-color:#D6D5D7;  }
#button_67c9c757:hover span { color:#000000; }
body { background:none; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_4861029c { vertical-align: bottom; position:relative; display: inline-block; margin:5px; width:60px; background:none; height:auto;  }
#container_56c293c2 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_77bb760a { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_1f573b75 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background-color:#808080;  }
#img_713aaca6 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#img_490f5bbd { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:36px; height:36px; background:none;  }
#menu_b1ead0e { border-radius: 2px; position:absolute; left:10%; top:0%; width:77%; height:50px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:114px; height:50px; left:20px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle2 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:104px; height:50px; left:20px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:23px;  }
.textstyle3 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle3 { position:absolute; width:132px; height:50px; left:124px;  }
.menustyle4 { position:absolute; width:113px; height:50px; left:256px;  }
.textstyle4 { font-size:16pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#0000A0;  white-space: nowrap; }
.menustyle5 { position:absolute; width:134px; height:50px; left:369px;  }
.menustyle6 { position:absolute; width:174px; height:50px; left:503px;  }
.menustyle7 { position:absolute; width:50px; height:50px; left:677px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.menustyle8 { position:absolute; width:50px; height:50px; left:727px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#000080;  white-space: nowrap; }
.textstyle6 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#000040;  white-space: nowrap; }
#placeh_63851a2 { vertical-align: top; position:relative; display: inline-block; width:100%;  }
#container_3eaf253f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:250px; background-color:#FFFFFF; background-image: url(rc_images/innovazionepmi_980x509.jpg); background-position:center center; background-size:cover;  }
#container_3eaf253f_padding { margin: 10px; display: block;  }
#container_a5619fa { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background:none; border-top: 0px solid #404040; border-left: none; border-right: none; border-bottom: none;  }
#container_34cc2121 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_34cc2121_padding { margin: 10px; display: block;  }
#container_5f4f2390 { vertical-align: bottom; position:relative; display: inline-block; width:100%; min-height:20px; background:none;  }
.textstyle7 { text-align:center; }
#container_721beb9e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background-color:rgba(215, 215, 215, 0.298039); border-top: 0px solid #C0C0C0; border-left: none; border-right: none; border-bottom: 0px solid #C0C0C0;  }
.textstyle8 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080;  }
.textstyle9 { font-size:22pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080; font-weight:bold;  }
#container_5ad5420e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_4910413c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF; border: 0px solid #545454;  }
#container_d507f3a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:350px; background:none;  }
#container_d507f3a_padding { margin: 50px 0px 50px 80px;display: block;  }
#container_2715c13d { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1250px; background-color:#FFFFFF;  }
#container_2715c13d_padding { margin: 10px 10px 10px 40px;display: block;  }
#container_2e2f0965 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-position:center center; background-repeat:no-repeat; border: 1px solid #404040;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle10 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_759479f9 { position:absolute; left:20%; top:18%; width:60%; height:131px; background:none;  }
#container_6985efc5 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; border: 1px solid #404040;  }
#img_190286a9 { position:absolute; left:20%; top:18%; width:60%; height:131px; background:none;  }
#img_65a2dbb2 { box-sizing: border-box; position:absolute; left:1%; top:1%; width:28%; background:none; border: 0px dotted #404040; height:auto;  }
#container_634c042e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-position:bottom left; background-size:cover; border: 1px solid #404040;  }
#container_40ac07a2 { position:absolute; left:1%; top:1%; width:99%; min-height:191px; min-width:250px; background:none;  }
#container_40ac07a2_padding { margin: 10px; display: block;  }
#img_3e49fca2 { position:absolute; left:20%; top:18%; width:60%; height:131px; background:none;  }
#img_30353883 { box-sizing: border-box; position:absolute; left:-4%; top:-5%; width:28%; background:none; border: 0px dotted #404040; height:auto;  }
#container_434e2c9d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-position:bottom left; background-size:cover; border: 1px solid #404040;  }
#img_667234f4 { position:absolute; left:25%; top:18%; width:50%; height:131px; background-color:#FFFFFF;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#anchor_985ccb5 { vertical-align: bottom; position:relative; display: inline-block;  }
#container_371c9dc9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:20px; background-color:#FFFFFF;  }
#container_2ab568a4 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background-color:rgba(215, 215, 215, 0.298039); border: 0px solid #C0C0C0;  }
.textstyle12 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080;  }
.textstyle13 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#000080; font-weight:bold;  }
.textstyle14 { font-size:28pt; font-family:'Arial Black', Gadget, sans-serif; color:#FF8000; font-style:italic;  }
#container_153a4857 { vertical-align: top; position:relative; display: inline-block; width:100%; max-width:1250px; background-color:#FFFFFF;  }
#container_153a4857_padding { margin: 10px 10px 10px 40px;display: block;  }
#container_4b88bee8 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-position:bottom left; background-size:cover; border: 1px solid #404040;  }
#img_727495aa { position:absolute; left:25%; top:17%; width:50%; height:131px; background-color:#FFFFFF;  }
#container_7821890d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; border: 1px solid #404040;  }
#img_19511359 { position:absolute; left:20%; top:18%; width:60%; height:131px; background:none;  }
#container_344c4868 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:20px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-position:center center; background-repeat:no-repeat; border: 1px solid #404040;  }
#img_9c51d81 { position:absolute; left:20%; top:18%; width:60%; height:131px; background:none;  }
.textstyle15 { text-align:justify; }
#container_1fb40a30 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_5609a02e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:0px 0px 20px 0px;width:100%; min-height:150px; background-color:#FFFFFF; border: 0px solid #545454;  }
#container_6ae90203 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; background-color:rgba(215, 215, 215, 0.298039); border: 0px solid #C0C0C0;  }
.textstyle16 { font-size:24pt; font-family:'Arial Black', Gadget, sans-serif; color:#7D4040;  }
#container_18a08599 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_18a08599_padding { margin: 50px 0px 50px 80px;display: block;  }
#container_b9182c1 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:5px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-image: url(rc_images/software_gestione_presenze_web.jpg); background-position:bottom center; background-repeat:no-repeat; border: 1px solid #404040;  }
#text_5571b669 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:30px 0px 0px 0px;width:92%; height:165px; background-color:rgba(255, 255, 255, 0.94902); border: 1px solid #C0C0C0;  }
#text_5571b669_padding { margin: 5px; display: block;  }
.textstyle17 { font-size:11pt; font-family:Verdana, Geneva, sans-serif; color:#000080;  }
.textstyle18 { font-size:11pt; font-family:Verdana, Geneva, sans-serif; color:#000E69;  }
#img_37abbd21 { box-sizing: border-box; position:absolute; left:179px; top:8px; width:64px; height:45px; background-color:#FFFFFF; border: 1px solid #C0C0C0;  }
.textstyle19 { font-size:18pt; font-family:Verdana, Geneva, sans-serif; color:#800000;  }
#container_39c3e53d { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:5px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-image: url(rc_images/software_gestione_presenze_web.jpg); background-position:bottom center; background-repeat:no-repeat; border: 1px solid #404040;  }
#text_7677e907 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:30px 0px 0px 0px;width:92%; height:165px; background-color:rgba(255, 255, 255, 0.94902); border: 1px solid #C0C0C0;  }
#text_7677e907_padding { margin: 5px; display: block;  }
#img_117604a3 { box-sizing: border-box; position:absolute; left:179px; top:8px; width:64px; height:45px; background-color:#FFFFFF; border: 1px solid #C0C0C0;  }
#container_1409626 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; margin:5px; width:25%; min-height:250px; min-width:250px; max-width:250px; background-color:#FFFFFF; background-image: url(rc_images/software_gestione_presenze_web.jpg); background-position:bottom center; background-repeat:no-repeat; border: 1px solid #404040;  }
#text_e3c1356 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:30px 0px 0px 0px;width:92%; height:165px; background-color:rgba(255, 255, 255, 0.94902); border: 1px solid #C0C0C0;  }
#text_e3c1356_padding { margin: 5px; display: block;  }
#img_42f57d6f { box-sizing: border-box; position:absolute; left:179px; top:8px; width:64px; height:45px; background-color:#FFFFFF; border: 1px solid #C0C0C0;  }
#container_538c920c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:180px; background-color:#173665; background: linear-gradient(to bottom, #173665, #173665);  }
#container_64838530 { vertical-align: top; position:relative; display: inline-block; float:left; margin:0px 0px 20px 0px;width:42%; min-height:180px; min-width:100px; max-width:350px; background:none;  }
#img_7a07f909 { box-sizing: border-box; border-radius: 4px; position:absolute; left:5%; top:4%; width:35%; height:29%; background:none; border: 0px solid #404040;  }
#img_3be04fce { position:absolute; left:50%; top:4%; width:35%; height:33%; background:none;  }
#img_76c3b8c7 { box-sizing: border-box; position:absolute; left:56%; top:36%; width:30%; height:29%; background:none; border: 0px solid #C0C0C0;  }
#img_7f26624f { box-sizing: border-box; position:absolute; left:5%; top:40%; width:33%; height:24%; background:none; border: 0px solid #C0C0C0;  }
#img_61dc0909 { box-sizing: border-box; position:absolute; left:57%; top:68%; width:28%; height:24%; background:none; border: 0px solid #404040;  }
#img_514ed77f { box-sizing: border-box; border-radius: 6px; position:absolute; left:6%; top:67%; width:31%; height:27%; background:none; border: 0px solid #C0C0C0;  }
.textstyle20 { text-align:right; }
#container_13c25dea { vertical-align: top; position:relative; display: inline-block; float:right; width:10%; min-height:180px; min-width:150px; max-width:400px; background:none;  }
#img_4b4fcc49 { vertical-align: top; position:relative; display: inline-block; float:left; width:90%; height:110px; background:none;  }
.textstyle21 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#img_3ae0a30b { position:absolute; left:10%; top:68%; width:75%; background:none; height:auto;  }
#container_5030d534 { position:absolute; left:36%; top:65%; width:61%; min-height:40px; min-width:150px; max-width:700px; background:none;  }
.textstyle22 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#E0E0E0;  }
#img_79c10b47 { position:absolute; left:0%; top:12%; width:12%; height:80%; background:none;  }
#img_3187a14e { position:absolute; left:73%; top:12%; width:12%; height:80%; background:none;  }
#img_6b0fb4d1 { position:absolute; left:19%; top:12%; width:12%; height:80%; background:none;  }
#img_3d12a58f { box-sizing: border-box; position:absolute; left:37%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_383dd26b { box-sizing: border-box; position:absolute; left:54%; top:12%; width:12%; height:80%; background:none; border: 0px solid #C0C0C0;  }
#img_342dd106 { position:absolute; left:89%; top:12%; width:12%; height:80%; background:none;  }
#container_3c9c6d1b { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:22%; min-height:4px; background:none;  }
#img_50b7dce0 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_14a6db9 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:28px; height:28px; background:none;  }
#img_48995cbb { vertical-align: top; position:relative; display: inline-block; float:right; margin:6px 5px 5px 5px;width:26px; height:26px; background:none;  }
#img_399149d7 { vertical-align: top; position:relative; display: inline-block; float:right; margin:5px; width:31px; height:31px; background:none;  }
.textstyle23 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#html_19407950 { box-sizing: border-box; position:absolute; left:41%; top:29%; width:5%; height:27px; background:none; border: 0px solid #A0A0A0;  }
@media only screen and (max-width: 1240px)
{
		#img_3ae0a30b { display:none;  }
}
@media only screen and (max-width: 1000px)
{
		#container_56c293c2 { display:none;  }
}
@media only screen and (max-width: 840px)
{
		#container_5030d534 { display:none;  }
}
@media only screen and (max-width: 450px)
{
		#menu_b1ead0e { width:100px;  }
}
@media only screen and (max-width: 640px)
{
		#container_2715c13d { width:100%;  }
		#button_2f40842 { left:0px; top:0px;  }
		#button_36005d0b { left:0px; top:0px;  }
		#button_355a973f { left:0px; top:0px;  }
		#button_6add6a3b { left:0px; top:0px;  }
		#container_153a4857 { width:100%;  }
		#button_438c5622 { left:0px; top:0px;  }
		#button_1d033ec1 { left:0px; top:0px;  }
		#button_384e62fd { left:0px; top:0px;  }
}
@media only screen and (max-width: 600px)
{
		#container_b9182c1 { width:50%; exampleCSS: somevalue; }
		#container_39c3e53d { width:50%; exampleCSS: somevalue; }
		#container_1409626 { width:50%; exampleCSS: somevalue; }
}
@media only screen and (max-width: 450px)
{
		#container_2e2f0965 { width:100%;  }
		#container_6985efc5 { width:100%;  }
		#container_634c042e { width:100%;  }
		#container_434e2c9d { width:100%;  }
		#container_4b88bee8 { width:100%;  }
		#container_7821890d { width:100%;  }
		#container_344c4868 { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_b9182c1 { width:100%;  }
		#container_39c3e53d { width:100%;  }
		#container_1409626 { width:100%;  }
}
